<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/pay.css}"/>

</head>
<body id="home">
<header class="header">
    <div class="leftt">
        <label for="language-select"><img th:src="@{img/img_1.png}" alt="buttonpng" width="13" height="13"></label>
        <select id="language-select">
            <option value="POL">POL</option>
            <option value="ENG">ENG</option>
        </select>
    </div>

    <div class="RAJcontainer">
        <a th:href="@{/home}"> <img th:src="@{img/RAJROŚLIN.png}" th:href="@{/home}" alt="RAJ ROŚLIN" width="230" height="60"></a>
    </div>
</header>


<br>
<br>
<br>
<div style="display:flex; justify-content:center; align-items:center;">
    <div style="background-color: #35A194; width:200px; height:10px; margin-right:1cm; border-radius: 10px; display:flex; flex-direction: column-reverse;">
        <p><br></p>
        <p>Twój koszyk</p>
    </div>
    <div style="background-color: #35A194; width:200px; height:10px; border-radius: 10px; display:flex; flex-direction: column-reverse;">
        <p><br></p>
        <p>Dostawa i płatność</p>
    </div>
    <div style="background-color: white; width:200px; height:10px; margin-left:1cm; border-radius: 10px; display:flex; flex-direction: column-reverse;">
        <p><br></p>
        <p>Gotowe</p>
    </div>
</div>
<br>
<br>
<br>

<div class="container">
    <div class="left">
        <!-- zawartość koszyka -->

        <div style="display:flex; flex-direction:column;">
            <h2>Dane odbiorcy do przesylki</h2>
            <input type="text" placeholder="Imię" style="width:189px; margin-bottom:15px;">
            <input type="text" placeholder="Nazwisko" style="width:189px; margin-bottom:15px;">
            <div style="display:flex; margin-bottom:15px;">
                <input type="text" placeholder="Ulica i nr" style="width:189px;">
                <input type="text" placeholder="Nr mieszkania" style="width:189px; margin-left:15px;">
            </div>
            <input type="text" placeholder="Kod pocztowy" style="width:189px; margin-bottom:15px;">
            <input type="text" placeholder="Miejscowość" style="width:189px; margin-bottom:15px;">
            <a th:href="@{/pay}" id="pay">Zmień adres</a>
            <br>
            <br>
            <br>
            <br>
            <br>

            <form>
                <h2>Dostawa</h2>
                <label>
                    <input type="checkbox" name="courier" value="DHL" id="kurier1">
                    Kurier DPD
                </label>
                <br>
                <label>
                    <input type="checkbox" name="courier" value="UPS" id="kurier2">
                    Kurier DHL
                </label>
            </form>



        </div>



    </div>
    <div class="right">
        <h2>Podsumowanie </h2>
        <p>Wartość produktów: 100,00 zł</p>
        <p>Razem: 120,00 zł</p>
        <button href="@{/pay}">KUPUJĘ I PŁACĘ</button>
        <a th:href="@{/money}" id="pay">Płać !!!!!!!</a>
    </div>
</div>

<br>
<br>
<br>
<br>


<br>
<br>
<header class="header">
    <footer class="footer">
        <div class="card-footer">
            <ul>
                <li>
                    <img th:src="@{img/RAJROŚLIN.png}" alt="Logo" width="250" height="100"  >
                </li>
                <li>
                    <p>
                        O nas <br>
                    </p>
                </li>
            </ul>
            <ul>
                <li class="title-list">Informacje</li>
                <li>Strona główna</li>
                <li>Nasiona</li>
                <li>Sadzonki</li>
                <li>Akcesoria</li>
                <li>Nawozy</li>
            </ul>
            <ul>
                <li class="title-list">Moje Konto</li>
                <li>Zaloguj</li>
                <li>Założ konto</li>

            </ul>
            <ul class="shops">
                <li class="title-list ">Kontakt</li>
                <li>hello@rajroslin.pl</li>
                <li>Ul.pokoju243  <br>
                    31-567 Kraków</li>
                <li>+48 22 567 88 76 39</li>
                <li>Odwiedź nas:</li>
            </ul>
        </div>

        <p class="by-name">
            &copy; Prawa autorskie 2023 Raj Natury Wszelkie prawa zastrzeżone.
        </p>
    </footer>
</header>

</body>
</html>