<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/first.css}"/>
</head>
<body id="home">
<header class="header">
    <div class="leftt">
        <label for="language-select"><img th:src="@{img/img_1.png}" alt="buttonpng" width="13" height="13"></label>
        <select id="language-select">
            <option value="POL">POL</option>
            <option value="ENG">ENG</option>
        </select>
    </div><div>
    <form class="search-form">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><img th:src="@{img/img.png}" alt="buttonpng" width="13" height="13"></button>
    </form>
</div>

    <div class="RAJ container">

        <a th:href="@{/home}"> <img th:src="@{img/RAJROŚLIN.png}" th:href="@{/home}" alt="RAJ ROŚLIN" width="230" height="60"></a>


        <nav>
            <ul class="menu">
                <li><a class="menubutton" th:href="@{/category}">Nasiona</a></li>
                <li><a class="menubutton" th:href="@{/category}">Sadzonki</a></li>
                <li><a class="menubutton" th:href="@{/category}">Akcesoria</a></li>
                <li><a class="menubutton" th:href="@{/category}">Nawozy</a></li>
                <li><a class="menubutton" th:href="@{/category}">O nas</a></li>
            </ul>
        </nav>
    </div>
    <a th:href="@{/login}" id="login">Zaloguj się!</a>
    <div class="log">

        <a th:href="@{/basket}"> <img th:src="@{img/wozek.png}" th:href="@{/basket}" alt="buttonpng" width="15" height="15"></a>
        <a th:href="@{/basket}">0,00zł</a>
        <span th:if="${session.cart != null}" th:text="${session.cart.size()}"></span>
        <span th:unless="${session.cart != null}">(0)</span>
    </div>

</header>
<div class="produkt">
    <section class="flexbox">
        <div class="box">
            <a id="jeden1" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div>
                    <img th:src="@{produkty/zhen-hu-SauU_zQ5ZKA-unsplash%201.png}" />
                </div>
            </a>
            <p>Mak wschodni</p>
            <p><b>4,15/szt.</b></p>
            <p>do koszyka</p>
        </div>

        <div class="box">
            <a id="dwa2" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div>
                    <img th:src="@{produkty/linh-le-Ebwp2-6BG8E-unsplash%201.png}" />
                </div>
            </a>
            <p>Doniczki kwiatowe</p>
            <p><b>5,49zł/szt.</b></p>
            <p>do koszyka</p>
        </div>

        <div class="box">
            <a id="trzy3" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div id="trzy3">
                    <img th:src="@{produkty/michael-c-ncK1abCfC90-unsplash%201.png}" />
                </div>
            </a>
            <p>Marchew Berlikum</p>
            <p><b>5,29 szt.</b></p>
            <p>do koszyka</p>
        </div>
        <div class="box">
            <a id="cztery4" href="pages/produkt.html" onclick="storeItemSelected(this.id)" >
                <div id="cztery4">
                    <img th:src="@{produkty/roxana-kaboli-W0L2LbXoEQI-unsplash%201.png}" />
                </div>
            </a>
            <p>Truskawka Polka</p>
            <p><b>4,50 zł</b></p>
            <p>do koszyka</p>
        </div>
    </section>
</div>
<br>



</header>
<div class="produkt">
    <section class="flexbox">
        <div class="box">
            <a id="jeden1" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div>
                    <img th:src="@{produkty/zhen-hu-SauU_zQ5ZKA-unsplash%201.png}" />
                </div>
            </a>
            <p>Mak wschodni</p>
            <p><b>4,15/szt.</b></p>
            <p>do koszyka</p>
        </div>

        <div class="box">
            <a id="dwa2" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div>
                    <img th:src="@{produkty/linh-le-Ebwp2-6BG8E-unsplash%201.png}" />
                </div>
            </a>
            <p>Doniczki kwiatowe</p>
            <p><b>5,49zł/szt.</b></p>
            <p>do koszyka</p>
        </div>

        <div class="box">
            <a id="trzy3" href="pages/produkt.html" onclick="storeItemSelected(this.id)">
                <div id="trzy3">
                    <img th:src="@{produkty/michael-c-ncK1abCfC90-unsplash%201.png}" />
                </div>
            </a>
            <p>Marchew Berlikum</p>
            <p><b>5,29 szt.</b></p>
            <p>do koszyka</p>
        </div>
        <div class="box">
            <a id="cztery4" href="pages/produkt.html" onclick="storeItemSelected(this.id)" >
                <div id="cztery4">
                    <img th:src="@{produkty/roxana-kaboli-W0L2LbXoEQI-unsplash%201.png}" />
                </div>
            </a>
            <p>Truskawka Polka</p>
            <p><b>4,50 zł</b></p>
            <p>do koszyka</p>
        </div>
    </section>
</div>
<br>


</body>
</html>