<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>RAJ ROŚLIN</title>
  <meta name="description" content="STRONA O OGRODNICTWIE" />
  <link rel="stylesheet" href="style2.css" type="text/css" />

    <meta name="keywords" content="słowa kluczowe">

  
</head>
<body>
<dif>


  <label for="cars"><img src="img_1.png" alt="buttonpng" border="0" width="13" height="13"></label>
  <select id="cars">
    <option value="POL">POL</option>
    <option value="ENG">ENG</option>
  </select>
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><img src="img.png" alt="buttonpng" border="0" width="13" height="13"></button>
    <button type="submit">
    <img src="RAJROŚLIN.png" alt="buttonpng" border="0" width="200" height="60"/>
    </button>
    <a href="#">Zaloguj się!</a>
    <button type="submit"><img src="wozek.png" alt="buttonpng" border="0" width="13" height="13"></button>
    <a href="#">0,00zł</a>
    </br>
    <a href="#">Nasiona</a>
    <a href="#">Sadzonki</a>
    <a href="#">Akcesoria</a>
    <a href="#">Nawozy</a>
    <a href="#">O nas</a>
</dif>

<did>

</did>

</body>
</html>